.App {
  text-align: center;
  font-size: calc(10px + 2vmin);
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

input {
  height: 40px;
  width: 50%;
  border: none;
  border-bottom: 2px #101113 solid;
  background: none;
  font-size: 1.5rem;
  color: #787a80;
}

input:focus {
  outline: none;
}

button {
  width: 20%; /* Reduced button width */
  height: 35px; /* Reduced button height */
  border: none;
  margin: 0 auto; /* Center the button horizontally */
  font-size: 20px; /* Slightly smaller font size */
  background: #333; /* Darker background color */
  border-radius: 5px;
  color: #fff; /* White text color */
  cursor: pointer;
}

button:focus {
  outline: none;
}

ul {
  list-style: none;
  text-align: left;
  padding: 15px;
  background: #171a1f;
  border-radius: 5px;
}

li {
  padding: 15px;
  font-size: 1.5rem;
  margin-bottom: 15px;
  background: #282c34;
  border-radius: 5px;
  overflow-wrap: break-word;
  cursor: pointer;
}

@media only screen and (min-width: 300px) {
  .App {
    width: 80%;
  }
  input {
    width: 100%;
  }
  button {
    width: 100%;
    margin-top: 15px;
    margin: 0 auto; /* Center the button horizontally */
  }
}

@media only screen and (min-width: 640px) {
  .App {
    width: 60%;
  }
  input {
    width: 50%;
  }
  button {
    width: 30%;
    margin: 15px 0 0 10px; /* Adjust margins */
  }
}


